<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'djangoapp:about' username='none' status='logged out'%}">Dealership Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link btn btn-primary mx-4 btn-lg" href="{% url 'djangoapp:about' username='none' status='logged out'%}"> About Us </a>
            <a class="nav-link btn btn-success mx-4 btn-lg" href="{% url 'djangoapp:contact' username='none' status='logged out'%}"> Contact Us </a>
       
            <form action="{% url 'djangoapp:login' %}" method="post" class="form-inline">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <input placeholder="username" type="text" name="username-input" class="form-control mx-sm-3">
                </div>
                <div class="form-group mb-2">
                    <input placeholder="password" type="password" name="password-input" class="form-control mx-sm-3">
                </div>
                <button type="submit" class="btn btn-info btn-lg"> Login </button>
            </form>
            <a class="nav-link btn btn-info mx-4 btn-lg" href="{% url 'djangoapp:registerpage' %}"> Register </a>
        </nav>
        <form action = "{% url 'djangoapp:registration'%}" method = "post" class = "d-flex flex-column">
            <div class = "row mt-3">
                <div class = "col-6 mx-auto text-center">
                    <label class = "h3"> Username: </label>    
                    <input type = "text" name = "username-input" class = "form-control mx-sm-3">
                </div>
            </div>
            <div class = "row mt-3">
                <div class = "col-6 mx-auto text-center">
                    <label class = "h3 "> Password: </label>
                    <input type = "password" name = "password-input" class = "form-control mx-sm-3">
                </div>
            </div>
            <div class = "row mt-3">
                <div class = "col-6 mx-auto text-center">
                    <label class = "h3"> First Name:</label>
                    <input type = "text" name = "firstname-input" class = "form-control mx-sm-3">
                </div>
            </div>
            <div class = "row mt-3">
                <div class = "col-6 mx-auto text-center">
                    <label class = "h3"> Last Name:</label>
                    <input type = "text" name = "lastname-input" class = "form-control mx-sm-3">
                </div>
            </div>  
            <div class = "row mt-3">
                <div class = "col-6 mx-auto text-center">
                    <button type = "submit" class = "btn btn-info btn-lg"> Register </button>
                </div>
            </div>
        </form>
    </body>
</html>